<h1>All Books</h1>

<%= link_to "Add Book",  new_book_path %>

<ul>
    <% @books.each do |book| %>
        <li>
            <%= book.title %>
            <%= link_to "View",  book_path(book.id) %>
        </li>
    <% end %>
</ul>
